/* Cosas generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
    height: 100%;
}
body{
    background-color: #E8C86B;
    display: flex;
    flex-direction: column;
}

/* Header */
header{
    background-color: #C9A227;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Git{
    margin-right: 15px;
}
#Git img{
    width: 32px;
    height: 32px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 32px;
  font-family:"Montserrat", sans-serif ;
}
#LaT{
    margin: 5px -1px 5px 10px ;
}
.logo img {
  width: 40px;
  height: 40px;
}



/* Parte principal */
main{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
#Tecleo{
    background-color: white;
    width: 800px;
    max-width: 90%;
    padding: 30px;
    border: 2px solid #d0d0d0;
    border-radius: 2px;
    text-align: left;
}
#texto{
    font-family: "Montserrat", sans-serif;

    font-size: 28px;

    line-height: 1.6;

    letter-spacing: 1px;

    color: #333;
}





/*Footer*/
footer{
    margin-top: 60px;
    padding: 20px;

    text-align: center;

    font-family: "Montserrat", sans-serif;
    font-size: 14px;

    color: #444;

    background-color: #C9A227;
}


/* Fuentes */
.montserrat-titulo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}