/* Cosas generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: #E8C86B;
}

/* Header */
header{
    background-color: #C9A227;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Git{
    margin-right: 15px;
}
#Git img{
    width: 32px;
    height: 32px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 32px;
  font-family:"Montserrat", sans-serif ;
}
#LaT{
    margin: 5px -1px 5px 10px ;
}
.logo img {
  width: 40px;
  height: 40px;
}



/* Parte principal */
main{
    background-color: white;
    margin: 20px;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 350;
}



/* Fuentes */
.montserrat-titulo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}